body {
    width: 70%;
    margin: auto;
    padding-top: 0;
}
.app-header {
    text-align: center;
}
ul {
    padding: 0;
    padding-left: 30px; 
    padding-bottom: 3px;
    list-style: none;
}
.tutorials {
    width: 50%;
    margin: auto;
}
